.folder {
    font-size: 18px;
    padding-left: 20px;

    &__container {
        display: flex;
        align-items: center;
        line-height: 1.25;

        span {
            margin-left: 5px; 
        }
    }

    &__is-open {
        height: auto;
    }
}